<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#addIngredientBtn').click(function() {
                var index = $('.ingredient-row').length + 1;
                $('#ingredientFields').append(
                    '<div class="ingredient-row">' +
                    '<input type="text" name="ingredients[' + index + '].key" placeholder="Ingredient" />' +
                    '<input type="text" name="ingredients[' + index + '].value" placeholder="Quantity" />' +
                    '</div>'
                );
            });
        });
        $(document).ready(function() {
            $('#addNutritionalContentBtn').click(function() {
                var index = $('.nutritional-content-row').length + 1;
                $('#nutritionalContentFields').append(
                    '<div class="nutritional-content-row">' +
                    '<input type="text" name="nutritionalContent[' + index + '].key" placeholder="Nutrient" />' +
                    '<input type="text" name="nutritionalContent[' + index + '].value" placeholder="Value" />' +
                    '</div>'
                );
            });
        });
        $(document).ready(function() {
            $('#addDirectionBtn').click(function() {
                var index = $('.direction-row').length + 1;
                $('#directionFields').append(
                    '<div class="direction-row">' +
                    '<input type="text" name="directions[' + index + ']" placeholder="Direction ' + index + '" />' +
                    '</div>'
                );
            });
        });
    </script>
</head>
<body>
<h2>Create Recipe</h2>
<form th:action="@{/admin/createRecipe}" th:object="${recipe}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br/>

    <label for="image">Upload Image:</label>
    <input type="file" id="image" name="imageFile" accept="image/*" /><br/>

    <label for="cookingTime">Cooking Time:</label>
    <input type="text" id="cookingTime" th:field="*{cookingTime}" /><br/>

    <label for="servingQty">Serving Quantity:</label>
    <input type="number" id="servingQty" th:field="*{servingQty}" /><br/>

    <h3>Ingredients:</h3>
    <div id="ingredientFields">
        <div class="ingredient-row">
            <input type="text" name="ingredients[0].key" placeholder="Ingredient" />
            <input type="text" name="ingredients[0].value" placeholder="Quantity" />
        </div>
    </div>
    <button type="button" id="addIngredientBtn">Add Ingredient</button>


    <h3>Directions:</h3>
    <div id="directionFields">
        <div class="direction-row">
            <input type="text" name="directions[0]" placeholder="Direction 1" />
        </div>
    </div>
    <button type="button" id="addDirectionBtn">Add Direction</button>


    <h3>Nutritional Content:</h3>
    <div id="nutritionalContentFields">
        <div class="nutritional-content-row">
            <input type="text" name="nutritionalContent[0].key" placeholder="Nutrient" />
            <input type="text" name="nutritionalContent[0].value" placeholder="Value" />
        </div>
    </div>
    <button type="button" id="addNutritionalContentBtn">Add Nutritional Content</button>


    <h3>Categories:</h3>
    <select multiple="multiple" name="categories">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <!-- Add more options as needed -->
    </select>


    <input type="submit" value="Submit"/>
</form>
</body>
</html>
