<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-learning Contact</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{~/forms/css/materialize.css}">
<!--    <link rel="stylesheet" href="style.css">-->
     <link rel="stylesheet" th:href="@{~/forms/css/style2.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{~/forms/js/init.js}"></script>
    <script th:src="@{~/forms/js/materialize.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--<header th:insert="fragments/header"></header>-->

<main>
    <div class="container">
        <h3 class="center">Log in</h3>
        <br>
        <div class="row">
            <div class="section col s12 m6 l4 offset-m3 offset-l4">
                <form method="post"
                      th:object="${loginuser}"
                      th:action="@{/e-learning/loginsuccess}"
                >
                    <div th:if="${param.error}">
                        <h5 class="center red-text text-lighten-1">Invalid username or password</h5>
                    </div>
                    <br>
                    <div class="input-field">
                        <label for="username">UserName</label>
                        <input type="text" class="class-controller"
                               id="username" name="username" th:field="*{username}" autofocus
                        >
                    </div>

                    <div class="input-field mb-5">
                        <label for="password">Password</label>
                        <input type="password" class="class-controller"
                               id="password" name="password" th:field="*{password}"
                        >
                    </div>

                    <div class="center">
                        <button type="submit" class="btn">
                            Log in
                        </button>
                    </div>
                    <div class="mt-5">
                        <span>You aren't registered yet? </span><a th:href="@{/e-learning/register}" class="teal-text">Sign up here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<br><br>
<footer class="page-footer teal" >

</footer>

<!--  Scripts-->
<!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<!--<script src="/js/materialize.js"></script>-->
<!--<script src="/js/init.js"></script>-->
</body>
</html>